﻿@using RecyclU.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecyclU.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 custom-navbar-bg">
            <div class="container-fluid" style="max-height: 70px;">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Imagenes/u_recyclU.jpeg" class="img-responsive" alt="U" style="width:70px; height: 10%; border-radius: 50%; display: block;" />
                </a>
                <img src="~/Imagenes/logo_recyclU_def.png" alt="RecyclU" style="width: 250px; height: 10%;" />

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                        </li>
                    </ul>
                    @if (UniversidadesController.universidad != null || EmpresasController.empresa != null)
                    {

                        //Debe aparecer el perfil del que entró aquí

                    }
                    else
                    {
                        <div class="ml-auto">
                            <a class="editar" asp-controller="Home" asp-action="LogIn">Iniciar sesión</a>

                            <a class="editar" asp-controller="Usuarios" asp-action="Create">Registrarse</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RecyclU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

<style type="text/css">

    a.editar {
        padding: 12px;
        background: #31A51E;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border-color: #31A51E;
        text-decoration: none;
        border-radius: 12px;
    }

</style>

</html>