    @model RecyclU.Models.Usuario
@{
    ViewData["Title"] = "Registro";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecyclU - Registro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecyclU.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="grande">
        <div class="todo">
            <div class="izquierda">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Imagenes/u_recyclU.jpeg" class="img-responsive" style="border-radius:50%; height:150px;width:150px;">
                </a>
            </div>

            <div class="derecha text-center mt-3">
                <form asp-action="Create" id="signupForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="contenido">
                        <label for="Discriminator"></label>
                        <select class="form-control" id="Discriminator" name="Discriminator" style="border-radius:25px">
                            <option >TIPO DE ENTIDAD</option>
                            <option value="Empresa">EMPRESA</option>
                            <option value="Universidad">UNIVERSIDAD</option>
                        </select>
                    </div>

                    <div class="contenido">
                        <input asp-for="Nombre" class="form-control" placeholder="NOMBRE DE LA ENTIDAD" style="border-radius:25px" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="contenido">
                        <input asp-for="Email" class="form-control" placeholder="EMAIL" style="border-radius:25px;"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="contenido">
                        <input type="password" asp-for="Contraseña" class="form-control" placeholder="CONTRASEÑA" style="border-radius:25px" />
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>

                    <div class="contenido">
                        <button type="submit" value="Añadir cuenta" class="btn btn-primary">AÑADIR CUENTA</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Para ejecutar el create dependiendo del rol

        $(document).ready(function () {
            // Get the form element by id
            var signupForm = $("#signupForm");

            // Attach an event listener for form submission
            signupForm.on("submit", function (event) {
                // Get the selected role from the dropdown
                var selectedRole = $("#Discriminator").val();

                // Update the form's action based on the selected role
                if (selectedRole === "Empresa") {
                    signupForm.attr("action", "/Empresas/Create");
                } else if (selectedRole === "Universidad") {
                    signupForm.attr("action", "/Universidades/Create");
                }
            });
        });
    </script>
}