@{
    ViewData["Title"] = "RecyclU";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>RecyclU</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecyclU.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="contenedor">
        <div class="izquierda">

            <form asp-area="" asp-controller="Home" asp-action="Index" method="get" class="d-inline-block ml-3">
                <button type="submit" class="btn btn-primary btn-lg">RECICLAR</button>
            </form>

            <form asp-area="" asp-controller="Empresas" asp-action="InfoGeneral" method="get" class="d-inline-block ml-3">
                <button type="submit" class="btn btn-primary btn-lg">EMPRESAS</button>
            </form>

            <form asp-area="" asp-controller="Universidades" asp-action="InfoGeneral" method="get" class="d-inline-block ml-3">
                <button type="submit" class="btn btn-primary btn-lg">UNIVERSIDADES</button>
            </form>


        </div>

        <div class="derecha">

            <div class="uno">
                <div class="izq">
                    <h1>¿QUÉ ES RECICLAR?</h1>
                    <p>Las estrategias de promoción de reciclaje se basan en la reducción, reutilización y reciclaje para concientizar a la población acerca de la importancia y el impacto del aprovechamiento de los residuos para proteger el medio ambiente.</p>

                    <ul>

                        <li>
                            <h2>Reducir</h2>
                            <p>Reducir el consumo y uso de productos para disminuir la cantidad de basura generada.</p>
                        </li>
                        <li>
                            <h2>Reutilizar</h2>

                            <p>Dar más utilidad a los productos, especialmente bolsas y envases.</p>

                        </li>
                        <li>
                            <h2>Reciclar</h2>

                            <p>Transformación completa de los residuos, creando nuevos productos.</p>

                        </li>

                    </ul>
                </div>

                <div class="der">
                    <img src="~/Imagenes/reciclar_logo.png" style="width:230px; height:230px; justify-content:center; align-items: center; margin-top:15px;">
                </div>
            </div>

            <div class="dos">
                <h1>¿POR QUÉ RECICLAR?</h1>
                <ul>
                    <li><p>Reciclar ayuda a minimizar el impacto negativo sobre los recursos naturales, reduciendo la contaminación y revertiendo el cambio climático.</p></li>
                    <li><p>Reducir el volumen de los residuos sólidos, se reduce entonces la contaminación.</p></li>
                    <li><p>Hacer uso de estos residuos para fabricar un nuevo producto hecho de material reciclado, ahorra energía, disminuye el uso del petróleo y reduce costos de producción.</p></li>
                </ul>
            </div>

            <div class="tres">
                <div class="izq_">
                    <h1>¿CÓMO Y DÓNDE RECICLAR?</h1>
                    <p>La cadena de valor de los residuos sólidos inicia con su debida separación en canecas o depósitos de colores</p>

                    <ul>


                        <li>
                            <h2>Caneca gris</h2>
                            <p>Para papel escrito, impreso y roto, que no contiene clips ni ganchos metálicos. No debe estar sucio con otros materiales.</p>
                        </li>

                        <li>
                            <h2>Caneca verde</h2>
                            <p>Para residuos ordinarios, es decir, que no se pueden reciclar, como papel carbón, mantequilla, aluminio, higiénico, de cocina, celofán; pañuelos; toallas higiénicas; servilletas utilizadas; plastificados; restos de alimentos; metalizados, icopor, chicles y residuos de barridos.</p>
                        </li>



                        <li>
                            <h2>Caneca azul</h2>
                            <p>Para envases de bebidas no retornables, vasos desechables, bolsas plásticas, entre otros recipientes plásticos y que estén vacíos.</p>
                        </li>


                        <li>
                            <h2>Caneca roja</h2>
                            <p>Esta se usa únicamente en laboratorios, consultorios y/o puntos de enfermería. Allí se depositan residuos de curación, guantes, gasas, algodones, entre otros. Además, residuos orgánicos o inorgánicos, corrosivos, tóxicos o inflamables.</p>
                        </li>


                    </ul>
                </div>
                <div class="der_" style="">

                    <img src="~/Imagenes/canecas.png" style="width:230px; height:300px; justify-content:center; align-items: center; margin-top:65px;" />
                </div>


            </div>
        </div>

    </div>

</body>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - RecyclU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
</html>