@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}
<div class="text-center">
    <h1 class="display-4">RecyclU</h1>
    <form asp-area="" asp-controller="Home" asp-action="LogIn" method="get" class="d-inline-block ml-3">
        <button type="submit" class="btn btn-primary btn-lg">Log In</button>
    </form>
    <form asp-area="" asp-controller="Usuarios" asp-action="Create" method="get" class="d-inline-block ml-3">
        <button type="submit" class="btn btn-secondary btn-lg">Sign Up</button>
    </form>
</div>
