body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 70px;
    background: #A0D77C;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: auto;
        width: auto;
    }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 0;
}

    nav button {
        padding: 12px;
        background: #31A51E;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border-color: #31A51E;
    }

.contenedor {
    background: white;
    min-height: 90vh;
    margin-left:0;
    margin-right:0;
    display: grid;
    grid-template-columns: 1fr 3.1fr;
    position: relative;
}

    .contenedor .izquierda {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0px;
        border-radius: 30px;
        background: #31A51E;
        padding: 15px;
        text-align: center;
        position: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        align-items: center;
    }

    .contenedor .derecha {
        margin: 30px;
        border-radius: 30px;
        margin-right:0;
        background: rgb(233, 238, 237);
        padding: 15px;
        text-align: center;
        position: center;
        justify-content: center;
        align-items: center;
    }



        .contenedor .derecha .uno {
            min-height: 30vh;
            margin: 0;
            display: grid;
            grid-template-columns: 2.5fr 1.5fr;
            position: relative;
        }


            .contenedor .derecha .uno ul li {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .contenedor .derecha .uno ul {
                padding: 0;
            }





        .contenedor .derecha .dos ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .contenedor .derecha .dos ul li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

                .contenedor .derecha .dos ul li:before {
                    content: "\2022";
                    font-size: 20px;
                    margin-right: 10px;
                }



        .contenedor .derecha .tres {
            min-height: 30vh;
            margin: 0;
            display: grid;
            grid-template-columns: 2.5fr 1.5fr;
            position: relative;
        }


            .contenedor .derecha .tres ul li {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
            }

            .contenedor .derecha .tres ul {
                padding: 0;
            }

            .contenedor .derecha .tres h2 {
                font-size: 20px;
                margin-bottom: 8px;
                text-align: center;
                display: inline-block;
                margin-right: 10px;
                font-size: 15px;
            }




h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

h2 {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
}

p {
    font-size: 15px;
    margin-bottom: 12px;
    text-align: left;
    text-align:justify;
    display: inline-block;
}



.contenedor .izquierda button {
    padding: 18px;
    background: #31A51E;
    color: white;
    font-weight: bold;
    border: 0;
    font-size: 20px;
}


h1 {
    color: green;
}

.toggle-text {
    cursor: pointer;
    color: #31A51E; /* Change color to indicate it's clickable */
    text-decoration: none;
}

.toggle-icon {
    display: inline-block;
    transform: rotate(-90deg);
    transition: transform 0.3s; /* Add a transition for smooth animation */
}
.toggle-text.expanded .toggle-icon {
    transform: rotate(90deg);
}

.toggle-icon-side {
    display: inline-block;
    transition: transform 0.3s; /* Add a transition for smooth animation */
}

.toggle-text.expanded .toggle-icon-side {
    transform: rotate(180deg);
}


.hidden-text {
    display: none;
}
