@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recycli</title>
</head>


<body>

    
</body>
</html>


