@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>inicio</title>
        <link rel="stylesheet" href="pp.css">
    </head>
    <body>

        <header>

        <div class="logo">
            <img src="logo_recyclU_def.png" alt="logo" class="logo_recyclU">
            <img src="u_recyclU.jpeg" alt="img_u" class="u_recyclu">

        </div>
        <nav>

            <form asp-area="" asp-controller="Home" asp-action="LogIn" method="get" class="d-inline-block ml-3">
            <button type="submit" class="btn btn-primary btn-lg">Log In</button>
            </form>
            <form asp-area="" asp-controller="Usuarios" asp-action="Create" method="get" class="d-inline-block ml-3">
            <button type="submit" class="btn btn-secondary btn-lg">Sign Up</button>
            </form>

        </nav>


    </header>

    </body>

        <style type="text/css">
            
            body{
                font-family: sans-serif;
                margin: 0;

                }

            header{
                display:flex;
                height: 70 px;
                background: #A0D77C;

                justify-content: space-between;
                align-items: center;
                padding: 20px;

                }
            
            .logo{
            
                display: flex;
                align-items: center;
            }

            .logo img{
                height:50px;
                align-items: center;

            
            }

            nav{
            display: flex;
            justify-content:space-between;
            align-items: center;
            gap:10px;
            
      
            }

            nav button{
            
                padding:12px;
                background: #31A51E;
                color:white;
                font-weight:bold;
                border-radius: 10px;
                border-color: #31A51E;

            }

        
        </style>
    </html>






