@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}

<div class="text-center">
    <h1 class="display-4">sisisisi noooo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
