@model RecyclU.Models.Post
@using RecyclU.Controllers
@{
    ViewData["Title"] = "Create";
}

<h1>Añadir</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UniversidadEmail" value="@UniversidadesController.universidad.Email" />

            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"> en toneladas</label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-outline-success"  type="submit" value="Crear" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UniversidadPosts">Volver</a>
</div>

<style type="text/css">

    a.editar {
        padding: 12px;
        background: #096297;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        text-decoration: none;
        border-radius: 12px;
    }

</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
