@model RecyclU.Models.Post
@using RecyclU.Controllers
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecyclU - Crear Post</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecyclU.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="grande">
        <div class="todo">
            <div class="izquierda">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Imagenes/u_recyclU.jpeg" class="img-responsive" style="border-radius:50%; height:150px;width:150px;">
                </a>
            </div>

            <div class="derecha text-center mt-3">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UniversidadEmail" value="@UniversidadesController.universidad.Email" />
                    <div class="contenido">
                        <input asp-for="Imagen" class="form-control" placeholder="Link Imagen" style="height: 37.5px; border-radius: 25px;" />
                        <span asp-validation-for="Imagen" class="text-danger"></span>
                    </div>

                    <div class="contenido">
                        <input asp-for="Descripcion" class="form-control" placeholder="Descripción" style="height: 37.5px; border-radius: 25px;" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="contenido">
                        <input asp-for="Precio" class="form-control" placeholder="$ Precio" style="height: 37.5px; border-radius: 25px;" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                    <div class="contenido">
                        <label for="Material"></label>
                        <select class="form-control" id="Material" name="Material" style="border-radius:25px">
                            <option>Tipo de material</option>
                            <option value="Plástico">Plástico</option>
                            <option value="Madera">Madera</option>
                            <option value="Cartón">Cartón</option>
                            <option value="Papel">Papel</option>
                            <option value="Pilas y baterias">Pilas y baterias</option>
                            <option value="Vidrio">Vidrio</option>
                        </select>
                    </div>
                    <div class="contenido">
                        <input asp-for="Peso" class="form-control" placeholder="Peso en toneladas" style="height: 37.5px; border-radius: 25px;" />
                        <span asp-validation-for="Peso" class="text-danger"></span>
                    </div>

                    <div class="contenido">
                        <button type="submit" value="Crear" class="btn btn-primary" style="border-radius:15px">Crear post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}