@model IEnumerable<RecyclU.Models.Post>
@using RecyclU.Controllers

@{
    ViewData["Title"] = "Posts";
    Layout = "_Layout";
}
<h3 style="justify-content:center;align-items:center; text-align:center;  color:#096297;"> Posts </h3>
<div class="contenedor2">
    <table class="table-data">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src=@item.Imagen alt="Imagen" class="img_post" />
                        <br>
                        <br>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                        <br>
                        <br>
                        <form method="get" asp-action="Details" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-primary">Ver más</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>